<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="aubo_i5_pgc140" >

  <!-- common stuff -->
  <!-- <xacro:include filename="$(find aubo_description)/urdf/common.gazebo.xacro" /> -->

  <!-- ur5 -->
  <xacro:include filename="$(find lara_description)/urdf/aubo_i5_macro.xacro" />
  <xacro:include filename="$(find lara_description)/urdf/pgc140_macro.xacro" />


  <xacro:aubo_i5/>

  <xacro:pgc140 />

  <link name="ee_link">
    <collision>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
      <origin rpy="0 0 0" xyz="-0.01 0 0"/>
    </collision>
  </link>
  <joint name="ee_fixed_joint" type="fixed">
    <parent link="wrist3_Link"/>
    <child link="ee_link"/>
    <origin rpy="${pi} ${-pi/2} ${pi/2}" xyz="0.0 0.0 0.0"/>
  </joint>


  <joint name="pgc140_base_joint" type="fixed"> 
    <parent link="ee_link"/> 
    <child link="pgc140_base_link"/> 
    <origin xyz="0 0 0" rpy="${pi} ${-pi/2} 0" /> 
  </joint> 


  <!-- Add an additional link to plan with. Oriented like the UR ee_link frame. -->
  <link name="gripper_tip_link"/>
  <joint name="gripper_tip_link_joint" type="fixed">
    <parent link="ee_link"/>
    <child link="gripper_tip_link"/>
    <origin rpy="0 0 0" xyz="0.13345 0 0"/>
  </joint>


  




  <link name="ground">
      <collision>
          <origin rpy="0 0 0" xyz="0 0 -0.01"/>
          <geometry>
              <box size="5 5 0.02" />
          </geometry>
      </collision>
  </link>
  <joint name="ground_to_world" type="fixed">
      <parent link="world"/>
      <child link="ground"/>
      <origin xyz="0 0 0" />
  </joint>

  <link name="world" />
  <joint name="aubo_to_world" type="fixed">
    <parent link="world" />
    <child link = "aubo_i5_base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

    




  <!-- ros_control plugin -->
  <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      </plugin>
  </gazebo>

</robot>

