<?xml version="1.0"?>
<launch>
  <arg name="paused" default="true"/>
  <arg name="gazebo_gui" default="true"/>
  <arg name="urdf_path" default="$(find lara_description)/urdf/lara_base_scene.xacro"/>
  <arg name="initial_joint_positions" doc="Initial joint configuration of the robot"
       default=" -J elbow_joint 1.5707 -J finger_joint 0 -J shoulder_lift_joint 0 -J shoulder_pan_joint 0 -J wrist_1_joint 0 -J wrist_2_joint 1.5707 -J wrist_3_joint 0"/>

  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="paused" value="true"/>
    <arg name="gui" value="$(arg gazebo_gui)"/>
  </include>

  <!-- send robot urdf to param server -->
  <param name="robot_description" command="xacro '$(arg urdf_path)'" />

  <!-- push robot_description to factory and spawn robot in gazebo at the origin, change x,y,z arguments to spawn in a different position -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -x 0 -y 0 -z 0 $(arg initial_joint_positions) -unpause"
    respawn="false" output="screen" />

  <!-- Load joint controller parameters for Gazebo -->
  <rosparam file="$(find lara_moveit_config)/config/gazebo_controllers.yaml" command="load"/>
  <!-- Spawn Gazebo ROS controllers -->
  <node name="gazebo_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
		args="joint_state_controller arm_controller gripper_controller"/>

  <node name="ros_control_stopped_spawner" pkg="controller_manager" type="spawner"
    args="--stopped arm_position_controller" output="screen" respawn="false" />

</launch>
