<?xml version="1.0"?>
<launch>
  <arg name="urdf_path" default="$(find lara_description)/urdf/parts/box.urdf"/>
  <param name="box_description" command="xacro  '$(arg urdf_path)'" />

  <!-- push robot_description to factory and spawn robot in gazebo at the origin, change x,y,z arguments to spawn in a different position -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param box_description -model box -x 0.4 -y 0 -z 0"
    respawn="false" output="screen" />

</launch>
